.scrollup:hover {
    background: #8dbf43!important;
}

a:hover{
    color: #8dbf43;
}

.scrollup {
    background: #8dbf43 !important;
}

.pavo-widget-tabs-productcarousel .tabs-productcarousel-content ul li.active a {
    color: #8dbf43;
}

.product-layout .group-action .btn-cart {
    background: #8dbf43 !important;
}

.pa_latest_blogs_element .layout1 .owl-carousel .owl-item .blogs-thumb:hover .blog-body {
    background: #8dbf43;
}

.mainmenu .navbar .navbar-nav > li > a:hover, .mainmenu .navbar .navbar-nav > li > a:focus, .mainmenu .navbar .navbar-nav > li > a:active {
    color: #8dbf43;
    border-bottom: 2px solid #8dbf43;
}

#pavo-sticky-header .minicart-style-2 .btn-inverse .cart-icon .cart-number {
    background: #8dbf43;
    color: white;
}

.pa_latest_blogs_element .layout1 .owl-carousel .owl-dots .owl-dot.active span {
    background: #8dbf43;
    border: 1px solid #8dbf43;
}

.tp-caption.text_style_4:hover {
    background:  #8dbf43;
}

.wrap-right .cart-icon .cart-number {
    background: #8dbf43;
}

.pav-quickview a:hover {
    background-color:  #8dbf43;
    border-color:  #8dbf43;
}

#product-category .list-group > a.list-group-item:focus, #product-category .list-group > a.list-group-item.active, #product-category .list-group > a.list-group-item:hover {
    color: #8dbf43;
    border-left: 2px solid #8dbf43;
}

.pavoblog-posts .post-item:hover .entry-content h4 a {
    color: #8dbf43 !important;
}

.pavoblog-post .post-item .readmore-text:hover, .pavoblog-posts .post-item .readmore-text:hover {
    background: #8dbf43;
    border: 1px solid #8dbf43;
}

.btn-warning, .interactive-banner.style1 .content .action-button .btn-link, .interactive-banner.style1 .content .action-button .page-extension-module-pavstorelocator a[target="_blank"], .page-extension-module-pavstorelocator .interactive-banner.style1 .content .action-button a[target="_blank"], .interactive-banner.style1 .content .action-button .pavlayerednavigation .filter-selection .clear-all, .pavlayerednavigation .filter-selection .interactive-banner.style1 .content .action-button .clear-all, .interactive-banner.style1 .content .action-button .filter-default .filter-selection .clear-all, .filter-default .filter-selection .interactive-banner.style1 .content .action-button .clear-all, .interactive-banner.style5 a, .interactive-banner.style-light .btn-link, .interactive-banner.style-light .page-extension-module-pavstorelocator a[target="_blank"], .page-extension-module-pavstorelocator .interactive-banner.style-light a[target="_blank"], .interactive-banner.style-light .pavlayerednavigation .filter-selection .clear-all, .pavlayerednavigation .filter-selection .interactive-banner.style-light .clear-all, .interactive-banner.style-light .filter-default .filter-selection .clear-all, .filter-default .filter-selection .interactive-banner.style-light .clear-all {
    background-color: #8dbf43;
    border-color: #8dbf43;
}

.entry-post-image .entry-meta a, .entry-post-gallery .entry-meta a, .entry-post-video .entry-meta a {
    color: #8dbf43;
}

.pavoblog-post .related_posts .related-thumb .related-username a, .pavoblog-post .related_posts .related-thumb .related-date a, .pavoblog-post .related_posts .related-thumb .related-category a {
    color: #8dbf43;
}

.box .box-content .accordion-group:focus, .box .box-content .accordion-group:hover {
    border-left: 2px solid #8dbf43;
}

.box .box-content .accordion-group a:hover {
    color: #8dbf43;
}

.btn-primary:hover, .formNewLestter.white-popup .mfp-close:hover {
    background-color: #8dbf43;
    border-color: #8dbf43;
}

.btn-primary, .formNewLestter.white-popup .mfp-close {
    background-color: #8dbf43;
    border-color: #8dbf43;
}

.social-network .social li a:hover {
    border-bottom: 2px solid #8dbf43;
}

.btn-primary, .formNewLestter.white-popup .mfp-close {
    background-color: #8dbf43;
    border-color: #8dbf43;
}

header .dropdown-toggle:hover, header a:hover {
    color: #8dbf43;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color:  #8dbf43;
}

.owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-next:hover {
    border: 2px solid #8dbf43 !important;
}

.owl-carousel .owl-nav .owl-prev:hover span, .owl-carousel .owl-nav .owl-next:hover span {
    color: #8dbf43;
}

.product-layout .product-thumb .caption .name a:hover, .product-layout-swap .product-thumb .caption .name a:hover, .product-layout-slide .product-thumb .caption .name a:hover, .product-image-slide .product-thumb .caption .name a:hover {
    color: #8dbf43;
}

.pavoblog-post a:focus, .pavoblog-post a:hover, .pavoblog-posts a:focus, .pavoblog-posts a:hover {
     color: #8dbf43;
}
