*{
    padding: 0px;
    margin: 0px;
    background-color: 
}

#wrapper{
    
  
    margin: auto;
}

.menu{
    
    color: white;
    margin-left: 15px;
}
.home{
    float: left;
    color: white;
    margin-right: 15px;
    margin-left: 15px;
}

@media (max-width: 768px) {
    #wrapper{
    
    width: 100%;
 
}
    
}
@media (min-width: 768px) {
  
    
    #wrapper{
    
    width: 768px;

}
}


@media (max-width: 12000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        z-index: 999;
    }
    .navbar-collapse {
     
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);

    }
  
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
   
    .collapse.in{
        display:block !important;
     margin: 0px 37px;
    }
    .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

}
.mobile-artikel{
    
    padding: 0px 10px;
}
.kotak-mobile{
    padding: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 0px;
}

.kotak-mobile:last-child{
    
    border-bottom: none;
}
.thumb-mobile{
    float: left;
width: 35%;
    height: 25%;
}

.Image img{
    width: 100%;
height: 100%;
}
.desk-artikel-mobile{
    text-align: justify;
    float: right;
    width: 60%;
    height:100%;
    overflow:hidden;
}
.mobile-footer{
 text-align: center;
  background-color: aquamarine;
}
.mobile-footer{
 
    text-align: center;
    background-color: aqua;
}
.mobile-footer p{
    
    margin: 0px;
}
.slider{
    height: 55px;
    position: fixed;
    bottom: 5%;
    right: 6%;
    width: 55px;
   display:none;
     z-index: 1000;
    cursor:pointer;
}
.tombol{
width:20%;
}
.inputan{
width:80%;
    float:left;
}
h2{
font-family:'Roboto Slab',Segoe UI,Segoe,Arial,Verdana,sans-serif;  
}
.mobile-post-outer a{
color:black;
}
h1{
display:none;
}
.navbar-inverse{
background-image: linear-gradient(to bottom,#6f87ff 0,#29dbf7 100%);

}
.navbar{
border:none;
}
.nav li a{

font-weight:bold;
}

.navbar-inverse .navbar-nav>li>a{
color:white;
}
.dropdown-menu{
background-color: #29eaf1;
}

.dropdown-menu>li>a{
color:white;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{

background-color: #3a62f2;
}

.navbar-inverse .navbar-toggle{
border-color:transparent;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{

background-color:transparent;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
border-color:transparent;

}
.home:hover{
color:white;
}
.navbar{
border-radius:0px;
}
h3{
font-size:18px;
}
#menustatic{
margin-bottom:0px;
background-image: linear-gradient(to bottom,#016eff 0,#016eff 100%);
border-bottom: white 1px solid;
}
#menustatic .navbar-nav>li>a {
    padding-bottom: 10px;
    line-height: 20px;
    float: left;
}
