*{
    padding: 0px;
    margin: 0px;
    background-color: 
}

#wrapper{
    
  
    margin: auto;
}

.menu{
    
    color: white;
    margin-left: 15px;
}
.home{
    float: left;
    color: white;
    margin-right: 15px;
    margin-left: 15px;
}

@media (max-width: 768px) {
    #wrapper{
    
    width: 100%;
 
}
    
}
@media (min-width: 768px) {
  
    
    #wrapper{
    
    width: 768px;

}
}


@media (max-width: 12000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        z-index: 999;
    }
    .navbar-collapse {
     
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);

    }
  
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
   
    .collapse.in{
        display:block !important;
     margin: 0px 37px;
    }
    .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

}
.mobile-artikel{
    
    padding: 0px 10px;
}
.kotak-mobile{
    padding: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 0px;
}

.kotak-mobile:last-child{
    
    border-bottom: none;
}
.thumb-mobile{
    float: left;
width: 35%;
    height: 25%;
}

.Image img{
    width: 100%;
height: 100%;
}
.desk-artikel-mobile{
    text-align: justify;
    float: right;
    width: 60%;
    height:100%;
    overflow:hidden;
}
.mobile-footer{
 text-align: center;
  background-color: #016eff;
}
.mobile-footer a{
color:black;
 text-decoration:none;
}
.mobile-footer p{
    
    margin: 0px;
}
.slider{
    height: 35px;
    position: fixed;
    bottom: 1px;
    right: 1px;
    width: 35px;
    display: none;
    z-index: 1000;
    cursor: pointer;
}
.tombol{
width:20%;
}
.inputan{
width:80%;
    float:left;
}
h2{
font-family:'Roboto Slab',Segoe UI,Segoe,Arial,Verdana,sans-serif;  
}
.mobile-post-outer a{
color:black;
}
h1{
display:none;
}
.navbar-inverse{
background-image: linear-gradient(to bottom,#6f87ff 0,#29dbf7 100%);

}
.navbar{
border:none;
}
.nav li a{

font-weight:bold;
}

.navbar-inverse .navbar-nav>li>a{
color:white;
}
.dropdown-menu{
background-color: #29eaf1;
}

.dropdown-menu>li>a{
color:white;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{

background-color: #3a62f2;
}

.navbar-inverse .navbar-toggle{
border-color:transparent;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{

background-color:transparent;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
border-color:transparent;

}
.home:hover{
color:white;
}
.navbar{
border-radius:0px;
}
h3{
font-size:18px;
}
#menustatic{
margin-bottom:0px;
background-image: linear-gradient(to bottom,#016eff 0,#016eff 100%);
border-bottom: white 1px solid;
  min-height: 0px; 
}
#menustatic .navbar-nav>li>a {
    padding-bottom: 10px;
    line-height: 20px;
    float: left;
    font-size:10.38px;
}
#menustatic .navbar-nav { 
     margin:0px;
}
#menustatic .nav>li>a {
    padding: 10px 5px;
   
}
table {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  text-shadow: 1px 1px 0px #fff;
  background: #eaebec;
  border: #ccc 1px solid;
    margin:auto;
}
 
table th {
  padding: 10px;
  border-left:1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background: #ededed;
}
 
table th:first-child{  
  border-left:none;  
}
 
table tr {
  text-align: center;
  padding-left: 20px;
}
 
table td:first-child {
  text-align: left;
  padding-left: 20px;
  border-left: 0;
}
 
table td {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}
 
table tr:last-child td {
  border-bottom: 0;
}
 
table tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
 
table tr:last-child td:last-child {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
 
table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}

.kait h4{
            font-size: 14px;
            margin: 0px;
            padding: 0px;
            font-weight:bold;
        }
        
        .kait img{
            float: left;
            width: 80px;
             border: 1px solid rgba(0,0,0,0.06);
            padding: 2px;
            margin-right: 10px
        }
        .kait p{
            margin: 5px;
            font-size: 12px;
        }
        .kait{
          overflow: hidden;
            padding: 15px 0px 10px 0px;
           
                border-bottom: 1px solid rgba(0,0,0,0.06);
        }
        #terkait{
            padding: 8px;
            border: 1px solid rgba(0,0,0,0.1);
        }
        #judulkait{
            padding: 10px;
            background-color: #5b7fe2;
            color: #f8faff;
            margin-bottom: 0px;
            font-size:18px;
        }
        .kait a{
            color: black;
            text-decoration: none;
        }
        .kait a:hover{
            color: #76bbd0;
        }
/*Saat Besar*/
@media (min-width: 650px) {
     iframe{
    width:560px;
    height:315px;
    }
}
/*Saat kecil*/
@media (max-width: 650px) {
    iframe{
    width:100%;
    }
}
.img100{
width:100%!important;
}
