
*{
    padding: 0px;
    margin: 0px;
}
ul li{
list-style: none;
}
#sidebar{
    

    padding: 0px 0px 5px 10px;
    text-align: justify;
   border-left:  2px solid  black;
}
#wrapper{
    
    width: 95%;
    margin: auto;
}
.home{
    
    float: left;
    margin-left: 15px;
    color: white;
}
.menu{
    
    color: white;
}
.tidakfix{
    position: relative;
    z-index: 999;
   
}
.fix{
     position: fixed;
    top: 0px;
    width: 100%;
    left: 0px; 
    z-index: 999;
}
  .blog-pager{
    clear:both;
    } 
footer{ 
 
color: white;
    width: 100%;
  clear: both;
    background-color: #1b5c99;


}
.footeratas{
    padding: 10px 40px;
    width: 94%;
   
text-align: center;
    margin: auto;
    border-bottom: 3px double #bad6ef;
}
.kiri{
    border-right: 0px solid #bad6ef;
}

.footerbawah{
    font-family: "Sitka Small";
    width: 100%;
    margin: auto;
   
 text-align: center;
    
}
.paragrap{
    
    text-align: justify;
}
.thumbail{
    margin-bottom: 10px;
    
}
.singkat{
    
    float: left;
    width:200px;
}
.isiartikel{
    
    text-align: justify;
}
.share-post{
    float: right;
}
.post-title{
    
    text-align: left;
    font-size: 18px;
    
    
}
.postthumb{
    
    width:235px;
    height:180px;
    display:block;
border: rgba(0,0,0,0.6) solid 1px;
    margin: auto;
    margin-bottom: 10px;
}
.jump-link {
    font-size: 18px;
    padding: 10px 0px 10px 0px; 
   
    text-align: center;
    
    
}

.navbar-inverse{
    
    border-radius: 0px;
}
.jump-link a{
    text-decoration: none;
    
    
}

.post-author{
    display:block;
text-align: center;
   

}
.share1{width: 20px;}
.post1{
overflow:hidden; 
height: 400px;
text-align: justify;
}
element.style{width:100%;}



#banner{width:100%;}
.posthome{ 

padding:5px 10px;
margin:0px 5px 10px 0px;
border:solid 0.1px black;
}
.postbaca{ 

padding:5px 10px;
margin:0px 5px 10px 0px;
}


.blog-feeds{display:none;}
.date-header{display: none;}
/*Saat Kecil*/
@media (max-width: 1200px) {
       .kanan{
    border:none;
}
    .kiri{
    border-bottom:1px solid white;
    }
    #sidebar{
    display: block;
width: 91%;
        margin: auto;
    border:none;
}
.post {
width: 100%;
}
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    margin: auto;
 
    
}
}
/*Saat Besar*/
@media (min-width: 1200px) {
     .kanan{
    border-left: 1px solid #bad6ef;
}
    .kiri{
    border:none;
    }
       #sidebar{   
width: 32%;
           display: block;
          border-left:  2px solid  black;
}
.post {
width: 100%;
}
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    
    padding-left: 7px;
    padding-right: 0px;

    
}
}
/*Share Button*/
ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}
.share-buttons{
    background-color: transparent;
    min-width: 0;
    box-shadow: none;
    position: static;
}
ul.share-buttons .sr-only {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.share2{
  width: 32px;
}
.slider{
     height: 40px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 40px;
    display: none;
    z-index: 1000;
    cursor: pointer;
}
h1{
display:none;
}
footer a{
color:#c9dbff;
}
h3{
font-family:'Roboto Slab',Segoe UI,Segoe,Arial,Verdana,sans-serif;  
}
h3 a{
color:black;
}


@media (max-width: 750px) {
    .pilihpost img{
        height: auto;
        width: 100%;
    }
}
@media (min-width: 750px) {
  .pilihpost img{
        height: auto;
        width: auto;
    }
}

.post-labels{
font-family:Impact,'Roboto Slab',Segoe UI,Segoe,Arial,Verdana,sans-serif;  
color:black;

}
.post-labels a{

color:black;

}
.post-timestamp{
font-weight: bold;
font-family:'Roboto Slab',Segoe UI,Segoe,Arial,Verdana,sans-serif;  

}
.judulbaca{
    font-size:30px;
}
.navbar-inverse{
background-image: linear-gradient(to bottom,#6f87ff 0,#29dbf7 100%);

}
.navbar{
border:none;
}
.nav li a{

font-weight:bold;
}

.navbar-inverse .navbar-nav>li>a{
color:white;
}
.dropdown-menu{
background-color: #29eaf1;
}

.dropdown-menu>li>a{
color:white;
}
.navbar-inverse .navbar-nav>li>a:hover{

background-color: #3a62f2;
}

.navbar-inverse .navbar-toggle{
border-color:transparent;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{

background-color:transparent;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
border-color:transparent;

}
.home:hover{
color:white;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
background-color : transparent;


}
#menustatic{
margin-bottom:0px;
background-image: linear-gradient(to bottom,#016eff 0,#016eff 100%);
border-bottom: white 0.5px solid;
min-height: 0px; 
}
#menustatic .navbar-nav>li>a {
    padding-bottom: 10px;
    line-height: 20px;
    float: left;
}
#menustatic .navbar-nav { 
     margin:0px;
}
@media (max-width: 1108px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        z-index: 999;
    }
    .navbar-collapse {
     
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);

    }
  
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
   
    .collapse.in{
        display:block !important;
     margin: 0px 37px;
    }
    .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

}
#menuutama{
border-top: white 0.5px solid;
    font-size:15px;
}
.navfooter1 li{
float:left;
    padding:5px;
}
.navfooter li{
float:left;
      padding:5px;
}
.navfooter1 li a{color:white; text-decoration: none;}
.navfooter li a{color:white; text-decoration: none;}
.navfooter{
    display:inline-block;
}
#bagi{
    border-bottom: double 3px;
    margin-top: 0px;
    padding-bottom: 5px;
    text-align: center;
}
.share2{
    width:30px;
}
#sharep{
text-align:center;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  text-shadow: 1px 1px 0px #fff;
  background: #eaebec;
  border: #ccc 1px solid;
    margin:auto;
}
 
table th {
  padding: 10px;
  border-left:1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background: #ededed;
}
 
table th:first-child{  
  border-left:none;  
}
 
table tr {
  text-align: center;
  padding-left: 20px;
}
 
table td:first-child {
  text-align: left;
  padding-left: 20px;
  border-left: 0;
}
 
table td {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}
 
table tr:last-child td {
  border-bottom: 0;
}
 
table tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
 
table tr:last-child td:last-child {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
 
table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}
    #wrap{
            width:825px
        }
        .kait h4{
            font-size: 14px;
            margin: 0px;
            padding: 0px;
            font-weight:bold;
        }
        
        .kait img{
            float: left;
            width: 80px;
             border: 1px solid rgba(0,0,0,0.06);
            padding: 2px;
            margin-right: 10px
        }
        .kait p{
            margin: 5px;
            font-size: 12px;
        }
        .kait{
          overflow: hidden;
            padding: 15px 0px 10px 0px;
           
                border-bottom: 1px solid rgba(0,0,0,0.06);
        }
        #terkait{
            padding: 8px;
            border: 1px solid rgba(0,0,0,0.1);
        }
        #judulkait{
            padding: 10px;
            background-color: #5b7fe2;
            color: #f8faff;
            margin-bottom: 0px;
            font-size:18px;
        }
        .kait a{
            color: black;
            text-decoration: none;
        }
        .kait a:hover{
            color: #76bbd0;
        }
@media (max-width: 915px) {
 .kait p{
display:none;
        }
       .kait img{
display:none;
        }
}
@media (min-width: 915px) {

 .kait p{
display:block;
        }
       .kait img{
display:block;
        }
}
.email-address{
    
width:85%;
margin:auto;
}
#header1{
overflow:hidden;
 margin-bottom:5px;
    width:70%;
}
.navbar{
margin-bottom:5px;
}
#Image1 img{
width:100%;
height:auto;
}
#wrap1 table tr td{
    font-weight: bold;
    color: white;
    width: 1%;
    background-color: #5b7fe2;
    text-align: center;
    cursor: pointer;
    padding: 10px;

}#wrap1 .active{
    background-color: #4d54a5;
}
#wrap1 table {
    border: rgba(0,0,0,0.5) solid 1px;
    border-collapse: collapse;
    border-spacing: 0;
}
#wrap1 table tr td:hover{
    background-color: #4d54a5;
}
#wrap1 h4{
    margin: 0;
}
#isitab{
    padding: 20px;
    border:rgba(0,0,0,0.3) solid 1px;
border-top: white solid 1px;
}
.isi2, .isi3{
    display: none;
}

#wrap1 table{
text-shadow:none;
}
#wrap1 table td{
background: none; 
}
#wrap1 h2 {
    display: none;
}
#wrap1 .item-snippet{
display: none;
}
#wrap1 .item-thumbnail img {
    width: 60px;
}
#wrap1 .item-title a {
    text-decoration: none;
    color: black;
}
#wrap1 .popular-posts li:last-child {
    border-bottom: none;
}
#wrap1 .item-title a:hover {
    color: #a9a5a5;
}
#wrap1 .popular-posts li {
    border-bottom:rgba(0,0,0,0.3) solid 1px;
}
#wrap1 .list-label-widget-content ul li {
    float: left;
    padding: 7px;
    border: rgba(0,0,0,0.3) solid 1px;
       border-left: none;
   background-color: #5b7fe2;
}
#wrap1 .list-label-widget-content ul li:first-child {
       border-left: rgba(0,0,0,0.3) solid 1px;
    
}
#wrap1 .list-label-widget-content ul li a {
    text-decoration: none;
    color: white;
    
}
#wrap1 .list-label-widget-content ul li:hover {
    background-color: #85bcea;
}
#wrap1 {
    margin-bottom: 20px;
}
#sidebar_atas{
margin-bottom: 15px;
}
.share2:hover {
    opacity: 0.6;
}
/*Saat Besar*/
@media (min-width: 660px) {
     iframe{
    width:560px;
    height:315px;
    }
}
/*Saat kecil*/
@media (max-width: 660px) {
    iframe{
    width:100%;
    }
}

.CSS_LIGHTBOX{
z-index:10000!important;
}
.pilihpost{
font-size:17px;
}
#comment-editor {
    width: 100%;
}
#sidebar_atas .widget-content{
text-align:center;
}
.img100{
width:100%!important;
}
.carousel-indicators li {
    display: inline-block;
    width: auto!important;
    height:auto!important;
    margin-right: 1px!important;
    text-indent: 0px!important;
    cursor: pointer!important;
    border: none!important;
    border-radius: 0px!important;
}
.carousel-indicators li img {
width: 65px;
    height: auto;
}
.carousel-indicators .active {
    border: white solid 2px!important;
}
.item img{
    width: 100%;

}
#wrap2{
    width: 1000px;
    height: 820px;
}
@media (max-width: 710px) {
.carousel-indicators .active {
  display:none;
}
.carousel-indicators li img {
 display:none;
}
}
@media (min-width: 710px) {
.carousel-indicators .active {
   display:block; 
}
.carousel-indicators li img {
 display:block;
}
}
