*{
    padding: 0px;
    margin: 0px;
}

#wrapper{
    
    width: 95%;
    margin: auto;
}
.home{
    
    float: left;
    margin-left: 15px;
    color: white;
}
.menu{
    
    color: white;
}
.tidakfix{
    position: relative;
    z-index: 999;
   
}
.fix{
     position: fixed;
    top: 0px;
    width: 100%;
    left: 0px; 
    z-index: 999;
}
footer{
    
    background-color: aqua;

}
.paragrap{
    
    text-align: justify;
}
.thumbail{
    margin-bottom: 10px;
    
}
.singkat{
    
    float: left;
    width:200px;
}
.isiartikel{
    
    text-align: justify;
}