
*{
    padding: 0px;
    margin: 0px;
}
ul li{
list-style: none;
}
#sidebar{
    

    padding: 2px 30px;
    text-align: justify;
   border-left:  2px solid  black;
}
#wrapper{
    
    width: 95%;
    margin: auto;
}
.home{
    
    float: left;
    margin-left: 15px;
    color: white;
}
.menu{
    
    color: white;
}
.tidakfix{
    position: relative;
    z-index: 999;
   
}
.fix{
     position: fixed;
    top: 0px;
    width: 100%;
    left: 0px; 
    z-index: 999;
}
  .blog-pager{
    clear:both;
    } 
footer{ 
 
color: white;
    width: 100%;
  clear: both;
    background-color: #1b5c99;


}
.footeratas{
    padding: 10px 40px;
    width: 94%;
   
text-align: center;
    margin: auto;
    border-bottom: 3px double #bad6ef;
}
.kiri{
    border-right: 0px solid #bad6ef;
}

.footerbawah{
    font-family: "Sitka Small";
    width: 100%;
    margin: auto;
   
 text-align: center;
    
}
.paragrap{
    
    text-align: justify;
}
.thumbail{
    margin-bottom: 10px;
    
}
.singkat{
    
    float: left;
    width:200px;
}
.isiartikel{
    
    text-align: justify;
}
.share-post{
    float: right;
}
.post-title{
    
    text-align: left;
    font-size: 18px;
    
    
}
.postthumb{
    
    width:250px;
    height:180px;
    display:block;
    
    margin: auto;
}
.jump-link {
    font-size: 18px;
    padding: 10px 0px 10px 0px; 
   
    text-align: center;
    
    
}

.navbar-inverse{
    
    border-radius: 0px;
}
.jump-link a{
    text-decoration: none;
    
    
}

.post-author{
    display:block;
text-align: center;
   

}
.share1{width: 20px;}
.post1{
overflow:hidden; 
height: 400px;
text-align: justify;
}
element.style{width:100%;}



#banner{width:100%;}
.posthome{ 

padding:5px 10px;
margin:0px 5px 10px 0px;
border-style: solid;
border-width: 0.0000001px;
}
.postbaca{ 

padding:5px 10px;
margin:0px 5px 10px 0px;
}


.blog-feeds{display:none;}
.date-header{display: none;}
/*Saat Kecil*/
@media (max-width: 1200px) {
       .kanan{
    border:none;
}
  
    #sidebar{
    display: block;
width: 91%;
        margin: auto;
    border:none;
}
.post {
width: 100%;
}
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    margin: auto;
 
    
}
}
/*Saat Besar*/
@media (min-width: 1200px) {
     .kanan{
    border-left: 1px solid #bad6ef;
}
       #sidebar{   
width: 32%;
           display: block;
          border-left:  2px solid  black;
}
.post {
width: 100%;
}
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    
    padding-left: 7px;
    padding-right: 0px;

    
}
}
/*Share Button*/
ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}
.share-buttons{
    background-color: transparent;
    min-width: 0;
    box-shadow: none;
    position: static;
}
ul.share-buttons .sr-only {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.share2{
  width: 32px;
}
.slider{
    height: 55px;
    position: fixed;
    bottom: 5%;
    right: 1.6%;
    width: 55px;
    display:none;
     z-index: 1000;
    cursor:pointer;
}
h1{
display:none;
}
footer a{
color:#c9dbff;
}
h3{
font-family:'Roboto Slab',Segoe UI,Segoe,Arial,Verdana,sans-serif;  
}
h3 a{
color:black;
}


@media (max-width: 750px) {
    .pilihpost img{
        height: auto;
        width: 100%;
    }
}
@media (min-width: 750px) {
  .pilihpost img{
        height: auto;
        width: auto;
    }
}

.post-labels{
font-family:Impact,'Roboto Slab',Segoe UI,Segoe,Arial,Verdana,sans-serif;  
color:black;

}
.post-labels a{

color:black;

}
.post-timestamp{
font-weight: bold;
font-family:'Roboto Slab',Segoe UI,Segoe,Arial,Verdana,sans-serif;  

}
.judulbaca{
    font-size:30px;
}
.navbar-inverse{
background-image: linear-gradient(to bottom,#6f87ff 0,#29dbf7 100%);

}
.navbar{
border:none;
}
.nav li a{

font-weight:bold;
}

.navbar-inverse .navbar-nav>li>a{
color:white;
}
.dropdown-menu{
background-color: #29eaf1;
}

.dropdown-menu>li>a{
color:white;
}
.navbar-inverse .navbar-nav>li>a:hover{

background-color: #3a62f2;
}

.navbar-inverse .navbar-toggle{
border-color:transparent;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{

background-color:transparent;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
border-color:transparent;

}
.home:hover{
color:white;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
background-color : transparent;


}
#menustatic{
margin-bottom:0px;
background-image: linear-gradient(to bottom,#016eff 0,#016eff 100%);
border-bottom: white 0.5px solid;
min-height: 0px; 
}
#menustatic .navbar-nav>li>a {
    padding-bottom: 10px;
    line-height: 20px;
    float: left;
}
#menustatic .navbar-nav { 
     margin:0px;
}
@media (max-width: 1108px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        z-index: 999;
    }
    .navbar-collapse {
     
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);

    }
  
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
   
    .collapse.in{
        display:block !important;
     margin: 0px 37px;
    }
    .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

}
#menuutama{
border-top: white 0.5px solid;
    font-size:15px;
}
.navfooter1 li{
float:left;
    padding:5px;
}
.navfooter li{
float:left;
      padding:5px;
}
.navfooter1 li a{color:white; text-decoration: none;}
.navfooter li a{color:white; text-decoration: none;}
.navfooter{
    display:inline-block;
}
#bagi{
    border-bottom: double 3px;
    margin-top: 0px;
    padding-bottom: 5px;
    text-align: center;
}
.share2{
    width:30px;
}
#sharep{
text-align:center;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  text-shadow: 1px 1px 0px #fff;
  background: #eaebec;
  border: #ccc 1px solid;
    margin:auto;
}
 
table th {
  padding: 10px;
  border-left:1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background: #ededed;
}
 
table th:first-child{  
  border-left:none;  
}
 
table tr {
  text-align: center;
  padding-left: 20px;
}
 
table td:first-child {
  text-align: left;
  padding-left: 20px;
  border-left: 0;
}
 
table td {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}
 
table tr:last-child td {
  border-bottom: 0;
}
 
table tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
 
table tr:last-child td:last-child {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
 
table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}
